{% extends 'base.html.twig' %}

{% block title %}Family index{% endblock %}

{% block body %}
    <h1>Family index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>Name</th>
                <th>PhoneNumber</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for family in families %}
            <tr>
                <td>{{ family.id }}</td>
                <td>{{ family.email }}</td>
                <td>{{ family.password }}</td>
                <td>{{ family.name }}</td>
                <td>{{ family.phoneNumber }}</td>
                <td>{{ family.roles ? family.roles|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_family_show', {'id': family.id}) }}">show</a>
                    <a href="{{ path('app_family_edit', {'id': family.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_family_new') }}">Create new</a>
{% endblock %}
